build/                                                                                                                               
  .cmake/
  CMakeFiles/
  CMakeCache.txt
  *.o
  *.a
  *.so
  *.exe
  *.dll
  moc_*
  ui_*                                                                                                                                   qrc_*
  .qmake.stash                                                                                                                         
  *.user
  *.autosave
  .vs/
  .vscode/
  EOF